<section id="shares">
  <a
    class="share-link fb"
    href="https://www.facebook.com/sharer/sharer.php?u=https://chases.blog{{
      post.url
    }}"
    target="_blank"
    title="Share on Facebook"
  >
    <i class="fab fa-facebook-f "></i>
  </a>
  <a
    class="share-link tw"
    href="https://twitter.com/intent/tweet?&text={{
      post.title
    }}&url=https://chases.blog{{ post.url }}"
    target="_blank"
    title="Share on Twitter"
  >
    <i class="fab fa-twitter  "></i>
  </a>
  <a
    class="share-link in"
    href="https://www.linkedin.com/sharing/share-offsite/?url=https://chases.blog{{
      post.url
    }}"
    target="_blank"
    title="Share on LinkedIn"
  >
    <i class="fab fa-linkedin-in  "></i>
  </a>
  <a
    class="share-link em"
    href="mailto:?subject=Chase%20Dooley%3A%20{{
      post.title
    }}&body=Hi%20there,%20you%20may%20like%20this%20article%3A%20https%3A//chases.blog{{
      post.url
    }}"
    target="_blank"
    title="Share with Email"
  >
    <i class="fas fa-envelope  "></i>
  </a>
  <i class="fas fa-link share-link"></i>
  <small>
    <a href="">https://chases.blog{{ post.url }}</a></small
  >
</section>
