<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chase's Blog</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href={{
      "assets/css/main.css" | relative_url
    }}>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/" class="head">
          Chase's Blog
        </a>
        <br />
        <a class="nav-link" href="/s">Search</a>
        <a
          class="nav-link"
          target="_blank"
          href="https://chasedooley.substack.com"
        >
          Subscribe
        </a>
        <a class="nav-link" target="_blank" href="https://chasedooley.com"
          >About</a
        >
        <a
          class="nav-link"
          target="_blank"
          href="https://medium.com/@chasedooley"
          >Articles</a
        >
        <a class="nav-link" href="/connect">Connect</a>
      </nav>
    </header>
    <main class="container">
      <ul class="content-list">
        {% for post in site.posts limit:30 %}
        <li class="post">
          <article>
            <h1>
              <a href="{{ post.url }}" class="post-title">
                #{{ post.number }} / {{ post.title }}
              </a>
            </h1>
            {{ post.content }}
            <hr />
            <time>{{ post.date | date: "%B %d, %Y" }} / </time>
            {% include post-shares.html %}
          </article>
        </li>
        {%endfor%}
      </ul>
      <h4>
        Those were the latest posts.
      </h4>
      <small>
        For more, consider searching for posts or topics, or trying a random
        page.
      </small>
      <input
        id="searchInput"
        type="text"
        required
        placeholder="Search for a post or topic..."
      />
      <button id="toSearchPosts">Search</button> or
      <button onclick="randomPage()">Random Post</button>
    </main>
    <footer>
      <nav>
        <a class="nav-link" href="#">Back to Top</a>
      </nav>
    </footer>

    <script>
      // Random page feature
      var postCount = 2;

      function randomPage() {
        let randomPageNumber = Math.floor(Math.random() * postCount) + 1;
        window.location = `https://chases.blog/s?q=${randomPageNumber}`;
      }

      // Search redirect
      let toSearchButton = document.getElementById("toSearchPosts");
      let searchInput = document.getElementById("searchInput");
      toSearchButton.addEventListener("click", () => {
        window.location = `https://chases.blog/s?q=${searchInput.value}`;
      });
    </script>
  </body>
</html>
